USE [master]
GO
/****** Object:  Database [Dismissal]    Script Date: 04.10.2023 22:38:37 ******/
CREATE DATABASE [Dismissal]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Dismissal', FILENAME = N'D:\SSMS 2022\MSSQL16.MSSQLSERVER\MSSQL\DATA\Dismissal.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Dismissal_log', FILENAME = N'D:\SSMS 2022\MSSQL16.MSSQLSERVER\MSSQL\DATA\Dismissal_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Dismissal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Dismissal]
GO
/****** Object:  Table [dbo].[Dismissal_article]    Script Date: 04.10.2023 22:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dismissal_article](
	[ArticleId] [int] NOT NULL,
	[ArticleName] [nchar](40) NOT NULL,
	[DismissalReason] [nchar](50) NULL,
	[ArticleNumber] [char](4) NOT NULL,
	[ArticleParagraphNumber] [char](4) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dismissal_document]    Script Date: 04.10.2023 22:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dismissal_document](
	[DocId] [int] NOT NULL,
	[DocumentNumber] [char](4) NOT NULL,
	[RegDate] [datetime] NOT NULL,
	[DismissalDate] [datetime] NOT NULL,
	[DismissalArticleId] [int] NOT NULL,
	[EmpId] [int] NOT NULL,
	[Compensation] [real] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeInfo]    Script Date: 04.10.2023 22:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeInfo](
	[EmpId] [int] NOT NULL,
	[LastName] [nchar](20) NOT NULL,
	[FirstName] [nchar](20) NOT NULL,
	[Patronymic] [nchar](20) NOT NULL,
	[JobName] [nchar](20) NOT NULL,
	[DepartmentName] [nchar](40) NOT NULL,
	[EnterDate] [datetime] NULL
) ON [PRIMARY]
GO
USE [master]
GO
